body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  text-align: center;
  background: url('./assets/background.png') no-repeat center center fixed; /* Update the path if your image is not in the assets folder */
  background-size: cover;
}

.profile-image img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 20px 0;
  object-fit: cover;
  border: 3px solid #ffffff; /* Optional: adds a white border around the image */
}

.hero {
  min-height: calc(100vh - 60px); /* Adjusted for the footer height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2e4e5b; /* White text for better contrast */
}

.title {
  margin: 10px 0;
  font-weight: bold;
  color: #7f1e0d; /* Accent color for titles */
}

.quote {
  font-style: italic;
  margin-top: 30px;
  color: #7f1e0d; /* Accent color for the quote */
}

.footer {
  border-top: 2px solid #2e4e5b; /* Accent color border */
  color: #2e4e5b; /* White text for better contrast */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  text-align: center;
}

.footer a {
  color: #2e4e5b; /* White text for links */
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  color: #7f1e0d; /* Accent color on hover */
  text-decoration: underline;
}
